<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>

	<system.web>
		<compilation debug="true" />
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
			</providers>
		</roleManager>
	</system.web>

	<system.serviceModel>
		<diagnostics>
			<messageLogging logEntireMessage="true" logKnownPii="true" logMalformedMessages="true" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" />
			<endToEndTracing propagateActivity="true" activityTracing="true" messageFlowTracing="true" />
		</diagnostics>
		<bindings>
			<basicHttpBinding>
				<binding name="basicSecureBinding" maxBufferPoolSize="1000000" maxReceivedMessageSize="1000000">
					<readerQuotas maxDepth="1000000" maxArrayLength="1000000" maxBytesPerRead="1000000" />
					<security mode="TransportWithMessageCredential">
						<message clientCredentialType="UserName" />
					</security>
				</binding>
			</basicHttpBinding>
		</bindings>
		<services>
			<service name="StockMarketService.StockMarketService">
				<!--<endpoint address="" binding="basicHttpBinding" bindingNamespace="http://enterurlhere/" contract="WcfServiceLibrary.IService1">  
          <identity>  
            <dns value="localhost" />  
          </identity>  
        </endpoint>  
        <endpoint address="mex" binding="mexHttpBinding" bindingNamespace="http://enterurlhere/" contract="IMetadataExchange" />-->
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:62734/StockMarketService/" />
					</baseAddresses>
				</host>
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
	</system.serviceModel>
</configuration>