<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col col-md-6">
        <h5 class="card-title">Client List</h5>
      </div>
      <div class="text-end col col-md-6">

        <!-- Add the "new client" button here -->
        <div class="text-lg-end pt-2">
          <button id="create" class="btn btn-primary" type="button" (click)="create()">
            <i class="fa fa-plus me-1"></i>
            <span>New Client</span>
          </button>
        </div>

      </div>
    </div>
  </div>
  <div class="card-body">

    <kendo-grid [kendoGridBinding]="clientsList" [pageable]="true" [pageSize]="5" [sortable]="true">
      <kendo-grid-column field="firstName" title="First Name">
      </kendo-grid-column>
      <kendo-grid-column field="lastName" title="LastName">
      </kendo-grid-column>
      <kendo-grid-column field="email" title="Email"> </kendo-grid-column>
      <kendo-grid-column field="phoneNumber" title="Phone Number"> </kendo-grid-column>
      <kendo-grid-column field="nationality" title="Nationality"> </kendo-grid-column>
      <kendo-grid-command-column title="Actions" [width]="220">
        <ng-template kendoGridCellTemplate let-isNew="isNew" let-dataItem>
          <button kendoGridEditCommand [primary]="true" (click)="edit(dataItem.id)">Edit</button>
          <button kendoGridRemoveCommand (click)="delete(dataItem.id)">Remove</button>
        </ng-template>
      </kendo-grid-command-column>
    </kendo-grid>
  </div>
</div>

<!-- Add the modal here -->
<abp-modal [(visible)]="isModalOpen">
  <ng-template #abpHeader>
    <h3>Create New Client</h3>
  </ng-template>

  <ng-template #abpBody>
    <form [formGroup]="form" (ngSubmit)="save()">
      <div class="mt-2">
        <label for="client-name">First Name</label><span> * </span>
        <input type="text" id="client-firstName" class="form-control" formControlName="firstName" autofocus />
      </div>

      <div class="mt-2">
        <label for="client-price">Last Name</label><span> * </span>
        <input type="text" id="client-lastName" class="form-control" formControlName="lastName" />
      </div>

      <div class="mt-2">
        <label for="client-price">Email</label><span> * </span>
        <input type="text" id="client-email" class="form-control" formControlName="email" />
      </div>

      <div class="mt-2">
        <label for="client-price">Phone Number</label><span> * </span>
        <input type="text" id="client-phoneNumber" class="form-control" formControlName="phoneNumber" />
      </div>

      <div class="mt-2">
        <label for="client-price">Nationality</label><span> * </span>
        <select id="client-nationality" class="form-control" formControlName="nationality">
          <option *ngFor="let country of countries" [value]="country">{{ country }}</option>
        </select>
      </div>
      <!-- <div class="mt-2">
        <label for="client-type">Nationality</label><span> * </span>
        <select class="form-control" id="client-type" formControlName="nationality">
          <option [ngValue]="null">Select a client type</option>
          <option [ngValue]="type.value" *ngFor="let type of clientnationalities"> {{ '::Enum:BookType.' + type.value | abpLocalization }}</option>
        </select>
      </div> -->

    </form>
  </ng-template>


  <ng-template #abpFooter>
    <button type="button" class="btn btn-secondary" abpClose>
      {{ '::Close' | abpLocalization }}
    </button>

    <button class="btn btn-primary" (click)="save()" [disabled]="form.invalid">
      <i class="fa fa-check mr-1"></i>
      {{ '::Save' | abpLocalization }}
    </button>
  </ng-template>
</abp-modal>
